<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/a.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600;900&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="../static/images/marca/logofavicon.png" type="image/x-icon">
    <title>Document</title>
</head>
<body>
    <div class="actions">
        <a href="{{ url_for('main.dashboard') }}"><ion-icon name="arrow-undo-outline"></ion-icon></a>
        <p>Peso aproximado 10MB espere</p>
        <input type="button" value="Guardar PDF" onclick="window.print()">
    </div>
    <div class="first-page">
        <div class="fisrt-page_text">
            <p>{{time.day}}  {{time.year}}</p>
            <h2>{{edition}}</h2>
            <p>{{description}}</p>
        </div>
        <img src="../static/images/portada.jpg" alt="">
    </div>
    <div class="sheets">
        {% for product_list in catalogo %}
            <div class="sheet-grid">
                <div class="sheet-grid_head">
                    <img src="../static/images/banner.png" alt="" srcset="">
                </div>
                <div class="sheet-grid_content">

                        {% for product in product_list %}
                        {% set text, size = product.Descripcion.split(';')[:2] %}
                            {% if size == "not_img"%}
                            {% endif %}

                            {% if size == "not_img"%}
                            <div class="card {{size}}">
                                <div class="card-text">
                                    <p>{{product.id}}</p>
                                    <p>{{product.Precio}}$ {{product.Descuento}}</p>
                                    <p>{{text}}.</p>
                                </div>
                            </div>
                            {% else %}
                            <div class="card {{size}}">
                                <div class="card-img">
                                    <img src="../static/images/catalogo/{{product.id}}.png" alt="" srcset="">
                                </div>
                                <div class="card-text">
                                    <p>{{product.id}}</p>
                                    <p>{{product.Descuento}}- ${{product.Precio}}</p>
                                    <p>{{text}}.</p>
                                    
                                </div>
                                <div class="card-descuento">%</div>
                            </div>
                            {% endif %}
                        
                        {% endfor %}
                    
                </div>
                <div class="sheet-grid_foot">
                    <p>{{loop.index}}</p>
                </div>
            </div>
        {% endfor %}

    </div>
    <div class="end-page">
        
    </div>


    
</body>
</html>