
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/static/css/catalogue_base.css">
    <!-- FONT & ICONS-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="/static/images/marca/logofavicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <title>{% block tittle %}{% endblock %}</title>
</head>
<body>


    <div class="btn-descarga">
        <div class="arrow-back">
            <a href="{{ url_for('main.dashboard') }}"><ion-icon name="arrow-undo-outline"></ion-icon></a>
        </div>
       <input type="button" value="Guardar PDF" onclick="save_pdf()">
    </div>

    <div class="portada">
        <div class="portada-logo">
            <img src="/static/images/marca/logo_colorgrande.png" alt="">
        </div>
        <div class="portada-title">
            <h1>SUMINISTRO ROLEO C.A</h1>
            <p>{% block edition %}{% endblock %} - ({{time.day}}/{{time.month}}/{{time.year}})</p>
        </div>
    </div>

    {% block destacado %}

    {% endblock %}

    <div class="barra-init">
        <p></p>
    </div>


    {% block content %}

    {% endblock %}

    

    <div class="cierre">
        <p>SUMINISTRO ROLEO C.A 2021</p>
    </div>


    <script src="static/js/save_pdf.js" type="text/javascript"></script>
    <!-- ICONS-->
    <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
    <!--onerror="this.style.display='none'"    onerror="this.src='static/images/icons/no-disponible.png'"  onerror="this.closest('.card').style.display='none'"-->

</body>
</html>