
{% extends "base_catalogue.html" %}

{% block tittle %}Suministro-Roleo_Catalogo-1{% endblock %}
{% block edition %}Catalogo I{% endblock %}


{% block destacado %}
     <!--
    <div class="destacados">
        <div class="destacado1">
            <div class="img-destacado">
                <img src="/static/images/catalogo/TEI-01.png" alt="">
            </div>
            <p class="destacados-precio">12.2$</p>
            <p> <strong> Code </strong> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="destacado2">
            <div class="img-destacado">
                <img src="/static/images/catalogo/TEI-01.png" alt="">
            </div>
            <p class="destacados-precio">12.2$</p>
            <p> <strong> Code </strong> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="destacado3">
            <div class="img-destacado">
                <img src="/static/images/catalogo/TEI-11.png" alt="">
            </div>
            <p class="destacados-precio">12.2$</p>
            <p> <strong> Code </strong> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>        
        </div>
    </div>
-->
{% endblock %}


{% block content %}

    
<link rel="stylesheet" href="/static/css/catalogue_one.css">

    <div class="grid">
        {% set pag = [0] %}

        {% for producto in productos %}

        <div class="card" id="card{{loop.index}}">

            <div class="card-image">
                <img    src="/static/images/catalogo/{{producto.id}}.png"  onerror="this.src='static/images/icons/no-disponible.png'" >  
                <script src="/static/js/image_size.js" type="text/javascript"></script>
            </div>

            <div class="content">
                <div class="card-price">
                    {%set list = (producto.Precio | string()).split('.') %}
                    <p>{{list[0]}}.{{list[1]}}<b>$</b></p>
                </div>
                <div class="card-other">
                    {% set descuento = producto.Descuento | float %}
                    {% if descuento > 0 %}
                        {% set descuentomulti = descuento * 100 %}
                        {%set list_des = (descuentomulti | string()).split('.') %}
                        <div class="descuento">
                            -{{list_des[0]}}%
                        </div>
                    {% endif %}
                </div>
                <div class="card-text">
                    <p>
                        <strong>{{producto.id}}</strong>
                        {{producto.Descripcion}}
                    </p>
                </div>
            </div>

        </div>


            {%set numero =  loop.index % 9 %}
            {%set numero = (numero | string()) %}
            {%  if  numero  == '0' %}
                <div class="separador"> 
                    <div class="pagina">
                        {% if pag.append(pag.pop() + 1) %}
                        {% endif %} 
                        <p>{{pag[0]}} pag.</p>    
                    </div>

                    <div class="barra">
                        <div class="barra-content">
                            <div class="barra-content-img" ><p id="barra-name">SUMINISTRO ROLEO C.A</p></div>

                        </div>
                    </div>
                </div>
            {% endif %}


        {% endfor %}
    </div>
     
{% endblock %}




    



