{% extends "base.html" %}
{% block tittle %}Dashboard{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/css/normalize.css">
<link rel="stylesheet" href="../static/css/dashboard.css">

<div class="gridcontainer">
    <div class="gridcontainer-head">
        <div class="gridcontainer-head_list">
            <p>Panel de Administracion</p>
            <p>Catalogo PDF</p>
            <ul>
                <li>
                    <a href="{{ url_for('main.catalogo', page = 1)}}">Catalogo 1</a>
                    <a href="{{ url_for('main.catalogo', page = 2) }}">Catalogo 2</a>
                    <a href="{{ url_for('main.catalogo', page = 3) }}">Catalogo 3</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="gridcontainer-inputfiles">
        <!-- 
            <div class="gridcontainer-inputfiles_card input-one">
                <p><strong>Reglas para actualizar catalogo</strong></p><br>
                <p>
                - Para añadir una imagen al catalogo se debe colocar como nombre de la misma el <strong>CODIGO</strong> del producto, Ejm: <strong>ACC-01</strong>.png <br>
                - Solo se admite imagenes tipo <strong>PNG</strong> para el catalogo
                <br>
                <br>
                - Para la actualizar los precios respete el numero y orden de las columnas como muestra la siguiente imagen:
                </p>
                <br>
                <img id="myImg" src="../static/images/reglas.jpg" alt="Reglas-actualizavion-catalogo" width="120" height="80">
            </div>
            <div id="popUp" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        -->
            <div class="gridcontainer-inputfiles_card input-two">

                <form action="" method="POST" enctype="multipart/form-data">
                    <p>Subir archivo <br><b>Formato admitido .xls</b></p>
                    <input type="file" name="upfile" id="file">
                    <label type="file" for="file" class="area">
                        <p>Selecione o arrastre una archivo</p><br><br>
                        <ion-icon name="document-text-outline" id="area-icon-file"></ion-icon>
                    </label>
                    <input type="submit" name="btn" value="Subir Archivo">
                </form> 
            </div>
            <div class="gridcontainer-inputfiles_card input-three">
                <form action="" method="POST" enctype="multipart/form-data">
                    <p>Subir Imgen <br><b>Formato admitido .png</b></p>
                    <input type="file" name="upimage" id="image">
                    <label type="file" for="image" class="area">
                        <p>Selecione o arrastre una imagen</p><br><br>
                        <ion-icon name="image-outline" id="area-icon-img"></ion-icon>
                    </label>
                    <input type="submit" name="btn" value="Subir Imagen">
                </form> 
            </div>
    </div>

    <div class="gridcontainer-footer">
        <div class="gridcontainer-footer_info">
            <p>&copy;Suministros Roleo C.A - Derechos reservados</p>
        </div>
    </div>
</div>


<script>
    function checkAll(bx) {
      var cbs = document.getElementsByTagName('input');
      for(var i=0; i < cbs.length; i++) {
        if(cbs[i].type == 'checkbox') {
          cbs[i].checked = bx.checked;
        }
      }
    }


    var modal = document.getElementById('popUp');

    var img = document.getElementById('myImg');
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }

    var span = document.getElementsByClassName("close")[0];

    span.onclick = function() { 
      modal.style.display = "none";
    }
</script>

{% endblock %}