{% extends "base.html" %}
{% block tittle %}Dashboard{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/css/normalize.css">
<link rel="stylesheet" href="../static/css/dashboard.css">

<div class="gridcontainer">
    <div class="gridcontainer-sidebar">
        <div class="gridcontainer-sidebar_list">
            <H3>Panel de Administracion</H3>
            <ul>
                <li>
                    <h3>Catalogo Pdf</h3>
                    <a href="{{ url_for('main.catalogue_one') }}">Catalogo 1</a>
                    <a href="{{ url_for('main.catalogue_two') }}">Catalogo 2</a>
                    <a href="{{ url_for('main.catalogue_three') }}">Catalogo 3</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="gridcontainer-inputfiles">
        
            <div class="gridcontainer-inputfiles_card input-one">
                <p><strong>Reglas para actualizar catalogo</strong></p><br>
                <p>
                    º Archivos admitidos<br> 
                    º png, xls<br>
                    º png, xls<br>
                </p>
            </div>

            <div class="gridcontainer-inputfiles_card input-two">

                <form action="" method="POST" enctype="multipart/form-data">
                    <p>Subir archivo <br><b>Formato admitido .xls</b></p>
                    <input type="file" name="upfile" id="file">
                    <label type="file" for="file" class="area">
                        <p>Selecione o arrastre una archivo</p><br><br>
                        <ion-icon name="document-text-outline" id="area-icon-file"></ion-icon>
                    </label>
                    <input type="submit" name="btn" value="Subir Archivo">
                </form> 
            </div>
            <div class="gridcontainer-inputfiles_card input-three">
                <form action="" method="POST" enctype="multipart/form-data">
                    <p>Subir Imgen <br><b>Formato admitido .png</b></p>
                    <input type="file" name="upimage" id="image">
                    <label type="file" for="image" class="area">
                        <p>Selecione o arrastre una imagen</p><br><br>
                        <ion-icon name="image-outline" id="area-icon-img"></ion-icon>
                    </label>
                    <input type="submit" name="btn" value="Subir Imagen">
                </form> 
            </div>
    </div>

    <div class="gridcontainer-tables">

        <div class="tables">
            <h4>Productos Usy</h4>
            <div class="tables-search">
                <div class="col-8">
                    <strong>Buscando: {{tag}}</strong>
                </div>
                <form action="" method="post" autocomplete="off"> 
                    <div class="row">
                        <input type="text" class="tables-search_input" name="tag" id="tag"  placeholder="Ingrese Codigo"/> 
                        <input type="submit" value="Buscar" class="tables-search_btn" name="">
                    </div>
                </form> 
            </div>
            <table>
                <tr>
                    <th><input type="checkbox" onclick="checkAll(this)"></th>
                    <th>Codigo</th>
                    <th>Disponibilidad</th>
                    <th>Precio</th>
                    <th>Descuento</th>
                    <th>Descripcion</th>
                </tr>
                {% for rows in productos_usy_table.items %}
                <tr>
                    <td><input type="checkbox" name=""></td>
                    <td>{{rows.id}}</td>
                    <td>{{rows.Disponibilidad}}</td>
                    <td>{{rows.Precio}}</td>
                    <td>{{rows.Descuento}}</td>
                    <td>{{rows.Descripcion}}</td>
                </tr>
                {% endfor %}
            </table>
            <nav class="tables-nav">
                {% if productos_usy_table.has_prev %}
                    <li class="tables-nav_item"><a class="btn-link"  href="{{ url_for('main.dashboard', page=productos_usy_table.prev_num) }}">Anterior</a></li>
                {% else %}
                    <li class="tables-nav_item"><a class="btn-link btn-link_disable" href="">Anterior</a></li>
                {% endif %}

                {% for page in productos_usy_table.iter_pages(left_edge=3, right_edge=3) %}
                    {% if page %}

                        {% if page==productos_usy_table.page %}
                        <li class="tables-nav_item active"><a class="btn-link" href="{{ url_for('main.dashboard', page=page) }}">{{ page }}</a></li>
                        {% else %}
                        <li class="tables-nav_item"><a class="btn-link" href="{{ url_for('main.dashboard', page=page) }}">{{ page }}</a></li>
                        {% endif %}

                    {% else %}
                        <li class="tables-nav_item disabled" id="example_ellipsis"><a href="#" class="btn-link">…</a></li> 
                    {% endif %}
                {% endfor %}


                {% if productos_usy_table.has_next %}
                    <li class="tables-nav_item"><a class="btn-link"  href="{{ url_for('main.dashboard', page=productos_usy_table.next_num) }}">Siguiente</a></li>
                {% else %}
                    <li class="tables-nav_item"><a class="btn-link btn-link_disable"  href="">Siguiente</a></li>
                {% endif %}
            </nav>
        </div>
        


    </div>
    <div class="gridcontainer-footer">
        <div class="gridcontainer-footer_info">
            <p>&copy; SUMINISTRO ROLEO C.A . Derechos reservados.</p>
        </div>
    </div>
</div>

<script>
    function checkAll(bx) {
      var cbs = document.getElementsByTagName('input');
      for(var i=0; i < cbs.length; i++) {
        if(cbs[i].type == 'checkbox') {
          cbs[i].checked = bx.checked;
        }
      }
    }
</script>

{% endblock %}