{% extends "base.html" %}
{% block tittle %}Home{% endblock %}

{% block content %}
    <link rel="stylesheet" href="static/css/index.css">

    <!--#########BARRA DE BUSQUEDA########## -->
    <div class="search">
        <div class="search-title">
            <h1>Suministro Roleo distribuidora de confianza</h1>
        </div>
        <div class="search-bar sticky-bar">
            <form action="/search" method="post" id="search">
                <input type="text"  placeholder="Ingrese un producto..." name="search-data" id="search-data">
                <button type="submit"><ion-icon name="search-outline"></ion-icon></button>
            </form>
        </div>
        
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 200 1450 1000">
        <path fill="#fff" fill-opacity="1" d="M 0 450 L 500 750 C 800 950 800 950 850 950 L 1150 950 C 1250 950 1200 950 1450 750 L 1450 750 L 1450 1200 L 0 1200 L 0 450  "></path></svg>
    </div>
    <!--#########OFERTAS DEL MOMENTO########## -->
    <div class="offers">
        <div class="offers-title">
            <h2>Ofertas</h2>
            <p>Productos con los mejores descuentos del momento.</p>
            <button>Ir a ofertas</button>
        </div>

        <div class="offers-card ofert-one">
            <div class="offers-card_img">
                <img src="static/images/catalogo/acc-01.png" alt="" srcset="">
            </div>
            <div>
                <p>12.00$</p>
                <p><strong>Code</strong> Descripcion del producto ... 222 ide"</p>
            </div>
        </div>

        <div class="offers-card ofert-two">
            <div class="offers-card_img">
                <img src="static/images/catalogo/acc-01.png" alt="" srcset="">
            </div>
            <div>
                <p>12.00$</p>
                <p><strong>Code</strong> Descripcion del producto ... 222 ide"</p>
            </div>
        </div>

        <div class="offers-card ofert-three">
            <div class="offers-card_img">
                <img src="static/images/catalogo/acc-01.png" alt="" srcset="">
            </div>
            <div>
                <p>12.00$</p>
                <p><strong>Code</strong> Descripcion del producto ... 222 ide"</p>
            </div>
        </div>
    </div>


    <!--#########EXPLORAR CATEGORIAS########## -->
    <div class="explore">
        <h2>Explore</h2>

        <div class="explore-grid">
            <div class="explore-grid-one">
                <img src="" alt="" srcset="">
                <button type="submit">Categoria</button>
            </div>
            <div class="explore-grid-two">
                <img src="" alt="" srcset="">
                <button type="submit">Categoria</button>
            </div>
            <div class="explore-grid-three">
                <img src="" alt="" srcset="">
                <button type="submit">Categoria</button>
            </div>
            <div class="explore-grid-four">
                <img src="" alt="" srcset="">
                <button type="submit">Categoria</button>
            </div>
        </div>
    </div>


    <!--#########DESCARGA CATALOGO########## -->
    <div class="download">
        <h2>Descarga el Catalogo</h2>
        <p>Si requieres de acceso a nuestros productos de manera offline descarga.</p>
        <a href="#"></a>
    </div>

    <div class="contact">
        <form action="" method="post">
            <input type="email" name="" id=""> 
            <input type="text">
            <input type="text">
            <button type="submit">Enviar</button>
        </form>
    </div>

    
    <!--#########FOOTER ########## -->
    <div class="footer">
        <div class="footer-derechos">
            <p>copy; Suministros Roleo. Derechos reservados</p>
        </div>
        <div class="footer-social">
            <h3>Redes Sociales</h3>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
        </div>
    </div>

    <!-- Core theme JS-->
    <script src="static/js/index.js"></script>
{% endblock %}