{% extends "base.html" %}
{% block tittle %}Home{% endblock %}

{% block content %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Source+Code+Pro:wght@600&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700;900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="static/css/index.css">

    <!--#########BARRA DE BUSQUEDA########## -->
    <div class="search">
        <div class="search-title">
            <h1>Suministro Roleo</h1>
            <p>Tú distribuidora de confianza</p>
        </div>
        <div class="search-bar sticky-bar">
            <form action="/search" method="post" id="search">
                <input type="text"  placeholder="Ingrese un producto..." name="search-data" id="search-data">
                <button type="submit"><ion-icon name="search-outline"></ion-icon></button>
            </form>
        </div>
        
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 200 1448 992">
            <path fill="#fff" fill-opacity="1" d="M 0 450 L 500 750 C 800 950 800 950 850 950 L 1150 950 C 1250 950 1200 950 1450 750 L 1450 750 L 1450 1200 L 0 1200 L 0 450  "></path>
        </svg>
    </div>

    <div class="content-index">
        <!--#########OFERTAS DEL MOMENTO########## -->
        <div class="offers">
            <div class="offers-title">
                <h2>Ofertas</h2>
                <p>Productos con los mejores descuentos del momento.</p>
                <button>Ir a ofertas</button>
            </div>

            <div class="offers-card-container">
                <div class="offers-card ofert-one">
                    <div class="offers-card_img">
                        <img loading="lazy" src="static/images/catalogo/acc-01.png" alt="" srcset="">
                    </div>
                    <div>
                        <b>12.00$</b>
                        <p><strong>Code</strong> Descripcion del producto ... 222 ide"</p>
                    </div>
                </div>
    
                <div class="offers-card ofert-two">
                    <div class="offers-card_img">
                        <img loading="lazy" src="static/images/catalogo/acc-01.png" alt="" srcset="">
                    </div>
                    <div>
                        <b>12.00$</b>
                        <p><strong>Code</strong> Descripcion del producto ... 222 ide"</p>
                    </div>
                </div>
    
                <div class="offers-card ofert-three">
                    <div class="offers-card_img">
                        <img loading="lazy" src="static/images/catalogo/acc-01.png" alt="" srcset="">
                    </div>
                    <div>
                        <b>12.00$</b>
                        <p><strong>Code</strong> Descripcion del producto ... 222 ide"</p>
                    </div>
                </div>
            </div>
            
        </div>


        <!--#########EXPLORAR CATEGORIAS########## -->
        <div class="explore">
            <h2>Explora</h2>
            <div class="explore-grid">

                <div class="explore-grid-card grid-one">
                    <a href="#"><img loading="lazy" src="static/images/portada/portada_2-min.jpg" alt="" srcset=""></a>
                </div>
                <div class="explore-grid-card grid-two">
                    <a href="#"><img loading="lazy" src="static/images/portada/portada_2-min.jpg" alt="" srcset=""></a>
                </div>
                <div class="explore-grid-card grid-three">
                    <a href="#"><img loading="lazy" src="static/images/portada/portada_2-min.jpg" alt="" srcset=""></a>
                </div>
                <div class="explore-grid-card grid-four">
                    <a href="#"><img loading="lazy" src="static/images/portada/portada_2-min.jpg" alt="" srcset=""></a>
                </div>
            </div>
        </div>

        <div class="banner-mid">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1450 1200">
                <path fill="#303c8a" fill-opacity="1" d="M 0 50 L 350 300 C 500 400 550 450 550 500 L 500 800 C 450 950 400 950 300 1000 L 0 1150 L 0 50 "></path>
            </svg>
        </div>

        <!--#########DESCARGA CATALOGO########## -->
        <div class="download">
            <h2>Descarga el Catalogo</h2>
            <p>Si requieres de acceso a nuestros productos de manera offline descarga.</p>
            <button type="submit">Descarga</button>
        </div>

        <div class="contact">
            <h2>Contactanos</h2>
            <div class="contact-form">
                <form action="" method="post">
                    <div class="contact-from_item">
                        <p>Nombre</p>
                        <input type="text" placeholder="Nombre" name="" id=""> 
                    </div>
                    <div class="contact-from_item">
                        <p>Email</p>
                        <input type="email" placeholder="Email" name="" id=""> 
                    </div>
                    <div class="contact-from_item">
                        <p>Mensaje</p>
                        <textarea name="" id="" cols="10" rows="10" placeholder="Escribe un mensaje..."></textarea>
                    </div>
                    <button type="submit">Enviar</button>
                </form>
            </div>
            
            <div class="contact-img">
                <img loading="lazy" src="static/images/index/SVG/Recurso 1a.svg" alt="" srcset="">
            </div>
        </div>


        <!--#########FOOTER ########## -->
        <div class="banner">
            
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 600 1450 740">
                <path fill="#fff" fill-opacity="1" d="M 0 1050 L 800 700 C 1000 600 1100 600 1250 750 L 1450 950 L 1450 0 L 0 0 L 0 1050 "></path>
            </svg>
            <div class="footer-content">
                <div class="brand">
                    <a href="{{ url_for('main.index') }}" class="footer-logo"> <img loading="lazy" src="/static/images/marca/logo_white.png" alt="" srcset=""></a>
                    <p>&copy;Suministros Roleo C.A - Derechos reservados</p>
                </div>
                <div class="footer-social">
                    <h3>Redes Sociales</h3>
                    <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                </div>
            </div>
        </div>

    </div>
    

    
    <!-- Core theme JS-->
    <script src="static/js/index.js"></script>
{% endblock %}