
<link rel="stylesheet" href="../static/css/navbar.css">

<!-- FONT & ICONS-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="/static/images/marca/logofavicon.png" type="image/x-icon">

<!--                MENU                    -->

<header class="header">
    <a href="{{ url_for('main.index') }}" class="logo"> <img src="../static/images/marca/logo_white.png" alt="" srcset=""></a>
    <a href="{{ url_for('main.index') }}" class="logo-color"> <img src="../static/images/marca/logo_color.png" alt="" srcset=""></a>

    <ul>
        <li><a class="a" href="{{ url_for('main.index') }}">Home</a></li>
        <li><a class="" href="{{ url_for('main.online_catalog') }}">Catalogo</a></li>
        <li><a class="descarga" href="{{ url_for('main.download') }}">Descarga</a></li>
        <li><a class="pedidos" href=""><ion-icon name="cart-outline"></ion-icon></a></li>
        <li class="dropdown" style="float:right;">
            <a class="dropbtn"><ion-icon name="chevron-down-outline"></ion-icon></a>
            <div class="dropdown-content">
                {% if current_user.is_authenticated %}
                    <a href="#">Admin</a>
                {% endif %}

                {% if not current_user.is_authenticated %}
                    <a href="{{ url_for('auth.login') }}" >Login</a>
                {% endif %}
                
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('main.dashboard') }}">
                    Panel
                    </a>
                {% endif %}

                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('auth.logout') }}">
                    <strong>Salir</strong> 
                </a>
            {% endif %}
            </div>
          </li>
    </ul>
</header>


<!--
<header class="header">
    <nav class="nav"   id="nav-menu-active">
        <div class="nav-logo">
            <a href="{{ url_for('main.index') }}"> <img src="/static/images/marca/logo_white.png" alt="" srcset=""></a>
            
        </div>
       
        <div class="nav-menu">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="{{ url_for('main.index') }}" class="nav-link">
                        <ion-icon class="icons-menu" name="home-outline"></ion-icon> 
                         Home 
                </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('main.online_catalog') }}" class="nav-link">
                        <ion-icon class="icons-menu" name="book-outline"></ion-icon>
                         Catalogo 
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('main.download') }}" class="nav-link descarga">
                        <ion-icon class="icons-menu" name="cloud-download-outline"></ion-icon>
                         Descarga 
                    </a>
                </li>

                <div class="drop-nav nav-item">
                    <button class="drop-nav-button"><ion-icon name="cart-outline"></ion-icon></button>
                    <button class="drop-nav-button"><ion-icon name="chevron-down-outline"></ion-icon></button>
                    <div class="drop-nav-content">
                        {% if current_user.is_authenticated %}
                            <a href="#">{{username}}</a>
                        {% endif %}

                        {% if not current_user.is_authenticated %}
                            <a href="{{ url_for('auth.login') }}" >Login</a>
                        {% endif %}
                
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('main.dashboard') }}">
                            <ion-icon class="icons-menu" name="cloud-download-outline"></ion-icon>
                            Panel
                        </a>
                        {% endif %}
                        
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('auth.logout') }}">
                            <ion-icon class="icons-menu" name="cloud-download-outline"></ion-icon>
                            <strong>Salir</strong> 
                        </a>
                        {% endif %}
                    </div>
                </div>
                
            </ul>
        </div>
    
    </nav>
</header>

-->


<!-- ICONS-->
<script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
<!-- menu js-->
<script src="static/js/navbar.js" type="text/javascript"> </script>


<header class="menu">

</header>