
.container{
    animation: transition-page 0.75s;
} 

@keyframes transition-page{
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }    
}





.window-notification  {
    background: rgba(33, 41, 52, 0.208);
    backdrop-filter: blur(4px);
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    position: fixed;
    z-index:10000;
    
}


.window-notification .content {
    border-radius: 4px;
    border: 1px solid var(--border-color);
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 500px;
    min-width: 220px;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 1.5rem;
    font-size: 1.3rem;
}

.content-text {
    color: #454646;
    font-size: 1rem;
}
.content-buttons a {
    text-decoration: none;
    color: #000;
    padding: .5rem .5rem .2rem .5rem;
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}



.success > .content{
    background-color: #9ee3ad;
    color: #45674F;
}
.warning > .content{
    background-color: #f9edc7;
    color: #7E703F;
}

.info > .content{
    background-color: #CBE5FE;
    color: #103E60;
}

.danger > .content{
    background-color: #f4c5cf;
    color: #552E31; 
}



