.window-notification  {
    background: rgba(33, 41, 52, .85);
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    position: fixed;
    z-index: 999;
}


.window-notification .content {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(33, 41, 52, .65);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 500px;
    min-width: 220px !important;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 1.5rem;
    font-size: 1.3rem;
}

.content-text {
    margin-top: .5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: rgb(86, 86, 86);
}



.content-buttons {
    margin-top: 1rem;
    padding: .5rem;
    width: 20%;
    font-size: 1rem;
    background-color: #c1c1c1;
    border-radius: 4px;
    text-align: center;
    color: rgb(81, 81, 81);
    cursor: pointer;
}


.content-buttons:hover {
    background-color: #5959ff;
    color: white;
    font-weight: 400;
    transition: ease-out .4s;
}


.success > .content{
    background-color: #D4EDDA;
    color: #45674F;
}
.warnin > .content{
    background-color: #FFF3CD;
    color: #7E703F;
}

.info > .content{
    background-color: #CBE5FE;
    color: #103E60;
}

.danger{
    background-color: #F2D5DB;
    color: #552E31; 
}