:root{
  /*Colores*/
  --first-color: #2e4fb1;
  --second-color: #232333;
  --general-font-color: #2d3142;
  --first-font-color: #03045e;
  --second-font-color: #050768;
  --descuento-color: #0bce70;

  --background-color: #ffffff;
  --backgroun-color-img: #E9E9F1;
  --border-color:none; 
  --shadow-color: 0px 11px 17px 2px rgba(106,113,220,0.16);
  /*Fuente y tipografia*/
  --body-font: 'Poppins', sans-serif;
  --price-font: 'Raleway', sans-serif;
  --normal-font-size: .938rem;
  --smal-font-size: .813rem;

  /* z index*/
  --z-fixed: 100;
}



/*   GENERAL  */
body{
  background-image: url("/static/images/backgrounds/fondo_3_claro.jpg");
  background-repeat: repeat;
  font-family: var(--body-font);
  color: var(--general-font-color);
  width: 100%;
  /* disble copy*/
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}


/* button download pdf*/
.btn-descarga{
  display: flex;
  justify-content: center;
  align-items:  center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #fff;
  z-index: 1000;
  outline: 1px solid rgb(220, 220, 220);
}
.btn-descarga > input{
  height: 50px;
  width: 120px;
  border-style: none;
  background-color: #f2f2f2;
  transition: ease-in-out .2s;
  border-radius: 4px;
  cursor: pointer;
}
.btn-descarga > input:hover{
  background-color: #1a2dff;
  color: white;
  font-weight: 400px;
  transition: ease-in-out .2s;
}

.arrow-back{
  position: absolute;
  top: 30%;
  left: 5%;
  font-size: 2rem;
}

.arrow-back a{
  padding: .5rem;
  color: #d8d8e1;
  transition: ease-out .2s;
}


.arrow-back a:hover{
  padding: .5rem;
  color: #0bce70;
  transition: ease-out .2s;
}


/*   PORTADA  _______________________________-*/
.portada{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height: 11.7in;
  width: 100%;
  padding: 50px;
  background-image: url("/static/images/portada/portada_4-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
}
.portada h1{
  font-size: 3rem;
  color: white;
  margin: auto;
}
.portada p{
  margin: 1rem;
  color: rgb(234, 234, 234);
  font-size: 1rem;
  color: white;
}
.portada-logo img{
  width: 450px;
  margin-bottom: 2rem;
}

/*  DESTACADOS ______________________________________________________________*/
.destacados{
  display: grid;
  grid-template-columns: 1.2fr .8fr;
  grid-template-rows:   1fr 1fr;
  grid-template-areas:  "one  two"
                        "one  three"; 
  height: 10in;
  gap: 4;
  
}
.destacados div > p { 
  margin: 0 2rem 1rem 2rem;
 }
.destacado1, .destacado2, .destacado3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.destacado1 {
  grid-area: one;
  background-color: #0bce7072;
  background-image: url(/static/images/Destacados/);
}
.destacado2 {
  grid-area: two;
  background-color: #f1faee;
}
.destacado3 {
  grid-area: three;
  background-color: #ff3300c4;
}
.destacados-precio{
  font-size: 1.8rem;
  font-weight: 900;
  align-self: baseline;
  margin: .8rem 0 ;
  color: var(--price-font);
}



/*  Barra ______________________________________________________________*/
.barra-init{
  display: block;
  height: 30px;
  width: 100%;
  margin-bottom: 180px;
  background-color: #0b3e5f;
}



/*      GRID CARDS  _________________________________________________________-  */
.grid{
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-flow: dense;
  width: 85%;
  gap: 1.13rem;
}
/*       INDIVIDUAL CARD      */
.card-none{
  display: none;
}
.card{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 195px 110px;
  grid-template-areas:  "image"
                        "cont "; 
}
.card-one{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 448px 110px;
  grid-template-areas:  "image "
                        "cont "; 
  grid-row:  auto / span 2 ;
}
.card-two{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 195px 110px;
  grid-template-areas:  "image"
                        "cont"; 
  grid-column:  auto / span 2 ;
}
.card-three{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 480px 110px;
  grid-template-areas:  "image"
                        "cont"; 
  grid-column:  auto / span 2 ;
  grid-row:  auto / span 2 ;
}
.card, .card-one, .card-two, .card-three{
  overflow: hidden;
  outline: 1px solid var(--border-color);
  background-color: white;
}

.card-image{
  grid-area: image;
  width: 100%;
  
}
.content{
  display: grid;
  grid-area: cont;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 35px 75px;
  grid-template-areas:  "price  other"
                        "text   text"; 
  border-top: 1px solid var(--border-color);
}

.card-price{
  grid-area: price;
  width: 100%;
  height: 100%;
  
}
.card-price p{
  font-size: 18px;
  font-weight: 1000;
  color: var(--first-font-color);
  margin-top: 10px;
  margin-left: 1rem;
}
.card-price b {
  font-size: 1rem;
}
.card-other{
  grid-area: other;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 10px 1rem 0 0;
}
.card-other div{
  padding: .26rem .5rem .14rem 1rem ;
  color: white;
  font-weight: 600;
  text-align: center;
  background-color: var(--descuento-color);
  max-width: 70px;
  clip-path: polygon(22% 0%, 100% 0%, 100% 100%, 22% 100%, 0% 50%);
}
.card-text{
  grid-area: text;
  height: 100%;
  width: 100%;
  font-size: 0.8rem;
}
.card-text strong{
  color: var(--second-font-color);
}
.card-text p{
  word-wrap: break-word;
  padding: 6px 1rem 8px 1rem;
}
.card-price, .card-other, .card-text{
  margin: auto;
}


/*  IMG INDIVIDUAL CARD AUTO HEIGHT */
.card-image img{
  width: 100%;
  padding: .4rem .4rem .8rem .4rem;
  height: auto;
}
@supports(object-fit: cover){
    .card-image img{
      height: 100%;
      object-fit: scale-down;
      object-position: center center;
    }
}


/*  BARRA SEPARADOR ______________________________________________________________________-*/

.separador{
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns:70px 1fr;
  grid-template-rows: 160px 100px;
  grid-template-areas:  "pag   space"
                        "barra barra";
  margin-top: 2rem;
  margin-bottom: 4rem;
  /*outline: 1px solid blueviolet;*/
}
.pagina{
  grid-area: pag;
  font-size: .8rem;
}
.pagina p{
  background-color: #0b3e5f;
  padding: 0.6rem;
  color: white;
  font-weight: 500;
}

.barra, .barra-content{
  grid-area: barra;
}

.barra {
  position: relative;
  left: -9%;
  width: 16px;
  background-color: #0b3e5f;
  height: 100%;
}

.barra-content{
  position: relative;
  left: 16px;
  width: 110vw;
  height: 100%;
  padding: 1.5rem;
  background: rgb(195,34,37);
  background: linear-gradient(118deg, rgba(195,34,37,1) 0%, rgba(11,62,95,0.6783088235294117) 51%, rgba(0,0,48,1) 100%);
}
.barra-content-img {
  display: inline-block;
  background-image: url(/static/images/marca/logo_white.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  width: 128px;
  height: 50px;
}
#barra-name{
  width: 198px;
  position: relative;
  display: inline-block;
  color: white;
  padding: .5rem 0 .5rem .5rem;
  right: -6in;
  font-size: 1rem;
  z-index: 1000;
  opacity: 0.91;
  font-weight: 100px;
  margin-top: .6rem;
}


.cierre{
  height: 11.7in;
  width: 100%;
  background-image: url(/static/images/portada/portada_5-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items:center;
  padding: 2rem;
}