
body{
    background-color: #f7f7f6;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* ________________BARRA de Navegacion________________________---  */
.header{
    background-color: #fff !important;
    border-bottom: 1px solid #777a9b !important;
}
header ul li a{
    color: rgb(7, 7, 7) !important;
}

header.sticky ul li a {
    background-color: white !important;
}
header > .logo{
    display: none !important;
}

header > .logo-color{
    display: block !important;
    width: 74px;
}





.banner{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 35vh;
    background-color: #2635de;
    z-index: -1;
}

.gridcontainer{
    display: grid;
    grid-template-columns: .2fr .8fr;
    grid-template-rows: .3fr .7fr 80px;
    grid-template-areas: "side input"
                         "side table"
                         "side footer";
}

.gridcontainer-inputfiles{
    grid-area: input;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gridcontainer-tables{
    grid-area: table;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.gridcontainer-footer{
    grid-area: footer;
    outline: 1px solid #d9eaff;
    background-color: #fff;
}

.gridcontainer-inputfiles_card{
    margin: 1rem;
    padding: 1.2rem;
    background-color: white;
    height: 300px;
    flex: 1 1 auto;
    min-width: 260px;
    border-radius: 4px;
    border: 1px solid #777a9b;
    box-shadow: 0px 1px 1px 1px rgba(73,96,143,0.07);
    overflow: hidden;
    transition: ease-out .2s;
}
.gridcontainer-inputfiles_card:hover {
    border: 1px solid rgba(123, 127, 183, 0.516);
    box-shadow: 0px 9px 11px -1px rgba(73,96,143,0.2);
    transition: ease-in .2s;
}   
/*  __________________cards____________________  */
.input-one {
    box-shadow: none;
    background-color: #f6f6f9;
}
.input-one:hover {
    box-shadow:none;
}

.gridcontainer-inputfiles_card input:nth-child(2){
    display: none;
}

.gridcontainer-inputfiles_card form > p {
    text-align: center;
    font-weight: 600;
    color: #4b4b4f;
}

.gridcontainer-inputfiles_card form > p > b {
    font-size: .75rem;
    font-weight: 100;
    color: #a4a4a5;
}
.area{
    display: block;
    cursor: pointer;
    background-color:#f7f8fc;
    border: #9fb4ce dashed 2px;
    border-radius: 4px;
    padding: 0px 1em 2em 1em;
    color: #9fb4ce;
    height: 140px;
    margin: 1.4rem 0 1.4rem 0;
    padding: 1rem;
    text-align: center;
}
#area-icon-img , #area-icon-file{
    font-size: 2.7rem;
}
.gridcontainer-inputfiles_card input:nth-child(4){
    grid-area: btn;
    font-size: .8rem;
    background-color: #e2e3eb;
    color: rgb(162, 162, 162);
    width: auto;
    padding: .7rem;
    width: 100%;
    border-radius: 4px;
    border-style: none;
}
.gridcontainer-inputfiles_card input:nth-child(4):hover{
    background-color: #1a2dff;
    transition: ease-out .3s;
    cursor: pointer;
    color: white;
}




/*  __________________sidebar____________________  */
.gridcontainer-sidebar{
    grid-area: side;
    top: 0;
    height: 100%;
    min-width: 200px;
    border-right: 1px solid #777a9b;
    color: #ffff  ;
    background-color: rgb(85, 82, 86);
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.side-btn{
    position: fixed;
    top: auto;
    bottom: 1rem;
    left: 1rem;
    background-color: #282323;
    color: #fefefe;
    font-size: 2rem;
    padding: .4rem .4rem .05rem .4rem;
    border-radius: 4px;
    box-shadow: 0px 9px 11px -1px rgba(73,96,143,0.2);
}

.gridcontainer-sidebar_list h3{
    padding: 2rem 1rem;
}

.gridcontainer-sidebar_list a{
    display: block;
    padding: 1rem;
    color: #e1e1e1;
}

.gridcontainer-sidebar_list a:hover{
    background-color: #d0d0d068;
    transition: ease-in-out .2s;
}

.sidebar_list_close{
    position: absolute;
    font-size: 2rem;
    right: 1rem;
    bottom: 1rem;
    padding: .4rem .4rem .0rem .4rem !important;
    border-radius: 4px;
    border: 1px solid var(--back-color-one);
}

/*  ____________________table______________________  */
.tables{
    background-color: #fff;
    width: 1fr;
    height: 100%;
    border-radius: 4px;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0px 11px 17px 2px rgba(106,113,220,0.16);
    border: 1px solid #777a9b;
    color: rgb(55, 55, 55);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.gridcontainer-tables h4{
    margin: 1rem;
}

table{
    border-spacing: 0;
    margin: 1rem;
}
tr:nth-child(even){
    background-color: #e0e0ea;
}
tr{
    min-height: 1.8rem;

}
th{
    font-size: .8rem;
    padding: .4rem;
}
td{
    font-size: .8rem;
    padding: .4rem;
}

/*______________________NAV BAR TABLET  ______________________*/
.tables-nav li {
    list-style: none;
}
.tables-nav li a{
    text-decoration: none;
    color: #4b4b4f;
}

.tables-nav{
    display: flex;
    justify-content: center;
    margin: 1rem;
}

/*  ____________________table______________________  */
.gridcontainer-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tables-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.tables-search_input{
    padding: .5rem;
    outline: none;
}
.tables-search_btn{
    outline: none;
    border: none;
    padding: .5rem;
    border-radius: 4px;
    color: #fff;
    background-color: #2635de;
}

.btn-link{
    padding: 8px 10px;
    padding: auto;
    border: 1px solid var(--back-color-one);

}

/*drop btn*/


/*ventana imagen modal*/

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}