body{
  font-family: var(--body-font);
  font-size: .8rem;
  scroll-behavior: smooth;
}
input {
  outline:none;
}


.content-index{
  margin: auto;
  width: 80%;
}

/*  _________________PORTTADA_____________- */
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(45, 33, 172, 0.52), rgba(82, 9, 22, 0.73)), url(/static/images/portada/portada_2-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.search svg{
  display: block;
}
.search-title{
  margin-top: 25vh;
  width: 79.2%;
  
}
.search-bar{
  align-self: baseline;
  margin-left: 10vw;
}

.search-title h1{
  font-size: 6.8rem;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 0;
}
.search-title P{
  font-size: 1.2rem;
  color: rgb(247, 247, 247);
  font-family: var(--body-font);
  font-weight: 100;
  filter: opacity(.7);
  margin-bottom: 5rem;
}

#search {
  display: flex;
  width: 100%;
}

#search input{
  align-self: start;
  padding: .65rem;
  height: 35px;
  border: none;
  width: 400px;
  border-radius: 2px 0px 0px 4px;
  background-color: var(--back-color-one);
}

#search input::placeholder{
  color: rgb(213, 213, 213);
}
.sticky-bar {
  position:sticky;
  top: 1rem;
  width: 41vw;
  z-index: 1000;
}

#search button{
  height: 35px;
  width: 60px;
  border: none;
  border-radius: 0px 4px 4px 0px;
  color:  var(--second-color) ;
  background-color: var(--back-color-one);
}
#search button > ion-icon{
  margin: auto;
  font-size: 1rem;
}
#search button:hover{
  color: #fff;
  background-color: var(--btn-color);
  cursor: pointer;
}

/*  _________________OFERTAS___________________ */

.offers{
  position: relative;
  top: -90vh;
  width: 100%;
  height: 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}


.offers-title{
  width: 48%;
  height: 220px;
  padding: 1rem;
  border: 1.4px solid var(--back-color-one);
  backdrop-filter: blur(8px);
  border-radius: 4px;
}
.offers-title h2{
  color: #fff;
  font-size: 2.5rem;
}
.offers-title p{
  color: rgb(234, 234, 234);
  font-size: 1rem;
  margin-top: 1.8rem;
  margin-bottom: 2.2rem;
  filter: opacity(.9);
}
.offers-title button{
  padding: .6rem;
  width: 35%;
  height: 2.4rem;
  border: none;
  border-radius: 4px;
  border: 1px solid var(--border-colo);
  background-color: var(--back-color-one);
  transition: ease-out .2s;
}
.offers-title button:hover{
  color: #fff;
  background-color: var(--btn-color);
  transition: ease-out .2s;
  cursor: pointer;
}

.offers-card-container{
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}


.offers-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 1rem 1rem 0;
  width: 45%;
  height: 310px;
  border-radius: 4px;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  box-shadow: var(--shadow-color);
  overflow: hidden;
  border: 1px solid var(--border-color);

  cursor: pointer;
  transition: ease-in .2s;
}
.offers-card:hover{
  transition: ease-in .2s;
}

.offers-card b{
  font-size: 1.2rem;
}
.ofert-one{
  top: -30vh;
  left: 12vw;
}
.ofert-two{
  position: relative;
  top: 22vh;
}

@media screen and (min-width: 1270px) {
  .offers{
    top: -114vh;
  }
  .offers-card{
    height: 340px;
  }
  .offers-card{
    margin: 0 1.5rem 1.5rem 0;
  }
}




/*  _________________EXPLORE___________________ */
.explore{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  width: 100%;
}

.explore h2{
  color: rgb(49, 18, 113);
  font-size: 2.5rem;
  align-self: flex-end;
  padding-bottom: 3rem;
}
.explore-grid {
  width: 100%;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 220px 220px ; /*minmax(150px, 340);*/
  gap: 1.4em;
}

.explore-grid-card{
  background-color: #fff;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow-color);
  overflow: hidden;
}

.explore-grid-card p{
  position: relative;
  top: 0px;
  z-index: 10;
  background-color: red;
}


.grid-two{
  grid-column : 2 / 4;
}
.grid-three{
  grid-column : 1 / 3;
}
/*
.explore-grid{
  position: relative;
  top: -120vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: auto;
  width: 100%;
  height: 600px;
  background-color: rgba(0, 255, 255, 0.263);
}

/*  _________________DONWLOAD___________________ */
.download{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 16vh 0;
}

.download h2{
  font-size: 2.5rem;
}

.download p{
  font-size: 1.2rem;
  margin-top: 1.8rem;
  margin-bottom: 2rem;
}

.download button{
  padding: .8rem;
  width: 30%;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  background-color: #303c8a;
  transition: ease-in .2s;
}

.download button:hover{
  color: #fff;
  background-color: var(--btn-color);
  transition: ease-in .2s;
}


/*  _________________CONTACT__________________ */
.contact {
  position: relative;
  top: 200px;
  height: 18vh;
  width: 100%;
  margin-bottom: 10vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact h2{
  font-size: 2.5rem;
  width: 100%;
  margin-bottom: 3rem;
}
.contact-form{
  padding: 1.2rem;
  width: 58%;
  background-color: rgb(249, 249, 249);
  box-shadow: var(--shadow-color);
  border-radius: 4px;
  border: 1px solid var(--border-color);
}

.contact-img{
  padding: .5rem;
  width: 39%;
  object-fit: contain;
}
.contact-form form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
.contact-from_item p{
  color: var(--border-color);
}
.contact-from_item{
  width: 48%;
}
.contact-from_item:nth-child(3){
  width: 100%;
  height: 30%;
}
.contact-from_item input{
  border: none;
  border-bottom: 2px solid var(--border-color);
  width: 100%;
  height: 100%;
  padding: .5rem;
  margin: 0 0 .8rem 0;
  border-radius: 4px 4px 0 0 ;
}
.contact-from_item textarea{
  width: 100%;
  height: 100%;
  padding: .5rem;
  resize: none;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--border-color);
  border-radius: 4px 4px 0 0 ;
}

.contact-from_item input::placeholder, textarea::placeholder{
  color: rgb(210, 210, 210);
}
.contact-from_item p{
  margin-bottom: .5rem;
}
.contact-form button{
  padding: .5rem  1rem;
  margin-top: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 3px;
}

/*  _________________FOOTER___________________ */
.footer-content{
  margin: auto;
  width: 80%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  flex-wrap: wrap;
}
.brand{
  display: flex;
  align-items: center;
  filter: opacity(.6);
}
.footer-logo img{
  width: 64px;
  margin-right: .8rem;
}

.footer-social{
  display: flex;
  align-items: center;
}

.footer-social a{
  margin-left: 1.5rem;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  padding: .3rem .4rem;
  border: 1px solid #fff;
  border-radius: 4px;
  transition: ease-out .12s;
}

.footer-social a:hover{
  margin-left: 1.5rem;
  text-decoration: none;
  color: var(--border-color);
  background-color: #fff;
  transition: ease-in .12s;
}


/*  _________________BANNERS___________________ */

.banner-mid{ 
  position: absolute;
  top: 200vh;
  left: 0;
  width: 100%;
  z-index: -1;
}

.banner{ 
  margin-top: 3rem;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -1;
  bottom: 1;
  background-image: linear-gradient(to bottom, rgba(36, 192, 235, 0.52), rgba(65, 7, 94, 0.73)), url(/static/images/portada/portada_2-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}





/*#######################################################MOBILE&TABLE#######################################################################################################*/
/*___________TABLET______________*/
@media screen and (max-width: 1000px) {

}

/*___________MOBILE______________*/
@media screen and (max-width: 768px) {
  .content-index{
    margin: auto;
    width: 90%;
  }
  /* title */
  .search-title{
    margin-top: 25vh;
    width: 79.2%;
  }
  .search-bar{
    width: 79.2%;
  }
  
  .search-title h1{
    font-size: 3rem;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 0;
    letter-spacing: 2px;
    transform: 0.6s;
  }
  .search-title P{
    font-size: 1rem;
    color: rgb(247, 247, 247);
    font-family: var(--body-font);
    font-weight: 100;
    filter: opacity(.7);
    margin-bottom: 5rem;
  }
  #search input{
    padding: .65rem;
    height: 36.2px;
    border: 1.5px solid var(--btn-color-ligth);
    border-radius: 4px 0px 0px 4px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.934);
  }


  /* Ofertas */
  .offers{
    position: static;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -18vh;
    width: 100%;
    height: 200vh;
  }
  .offers-title{
    width: 100%;
    height: 220px;
    padding: 1rem;
    border: 2px solid var(--back-color-one);
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    
  }
  .offers-title h2{
    color: rgb(121, 121, 121);
    font-size: 2rem;
  }
  .offers-title p{
    color: rgb(126, 126, 126);
    font-size: 1rem;
    filter: opacity(.9);
  }
  .offers-title button{
    width: 100%;
  }
  .offers-card-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .offers-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    margin: 2rem 0 0 0;
  }

  .ofert-two{
    position: static;
  }


  /*  _________________EXPLORE___________________ */
  .explore{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 18vh;
  width: 100%;
  }

  .explore h2{
    color: rgb(49, 18, 113);
    align-self: center;
    font-size: 2rem;
  }
  .explore-grid {
    width: 100%;
    height: 75vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 180px 180px ; /*minmax(150px, 340);*/
    gap: .6em;
  }

  .explore-grid-card{
    background-color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    box-shadow: var(--shadow-color);
    overflow: hidden;
  }

  .explore-grid-card p{
    position: relative;
    top: 0px;
    z-index: 10;
    background-color: red;
  }


  .grid-two{
    grid-column : 2 / 4;
  }
  .grid-three{
    grid-column : 1 / 3;
  }

  /*  _________________DONWLOAD___________________ */
  .download{
    text-align: center;
    height: 50vh;
  }
  .download h2{
    font-size: 2rem;
  }
  .download p{
    font-size: 1rem;
    margin-top: 1.8rem;
    margin-bottom: 2rem;
  }
  .download button{
    width: 100%;
  }

  /*  _________________CONTACT__________________ */
.contact {
  position: static;
  margin-top: 30vh;
  width: 100%;
  margin-bottom: 10vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact h2{
  font-size: 2rem;
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}
.contact-form{
  padding: 1.2rem;
  width: 100%;
  background-color: rgb(249, 249, 249);
  box-shadow: var(--shadow-color);
  border-radius: 4px;
  border: 1px solid var(--border-color);
}

.contact-img{
  display: none;
}

/*  _________________FOOTER___________________ */
.footer-content{
  width: 90%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-wrap: wrap;
}
.brand{
  display: flex;
  align-items: center;
  filter: opacity(.6);
}
.footer-logo img{
  width: 64px;
  margin-right: .8rem;
}

.footer-social{
  margin-bottom: 4vh;
  display: flex;
  align-items: center;
}

.footer-social a{
  margin-left: 1.5rem;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  padding: .3rem .4rem;
  border: 1px solid #fff;
  border-radius: 4px;
  transition: ease-out .12s;
}

.footer-social a:hover{
  margin-left: 1.5rem;
  text-decoration: none;
  color: var(--border-color);
  background-color: #fff;
  transition: ease-in .12s;
}



}



