:root{
    /*Colores*/
    --first-color: #dc3424;
    --second-color: #959eab;
    --dark-color: #0c4464;
    --white-color: #849cac;
    --shadow-color: 0px 11px 17px 2px rgba(106,113,220,0.16);
    --btn-color: #1a2dff;
    --btn-color-ligth: #eff0f7;
    
    /*Fuente y tipografia*/
    --body-font: 'Poppins', sans-serif;
    --normal-font: .938rem;
    --smal-font: .813rem;
}

/*___________NAVBAR_____________--*/    
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: ease-in .6s;
    padding: 1rem 3vw;
    z-index: 1000;
    font-family: var(--body-font);
}

header.sticky{
    padding: 1rem 3vw;
    background-color: #ffffff;
    transition: ease-out .4s;
    border: 1px solid #c6c6c63e;
}

.logo{
    position: relative;
    width: 74px;
}
.logo-color {
    display: none;
}
header.sticky > .logo{
    display: none;
}
header.sticky > .logo-color{
    display: block;
    width: 74px;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
    color: white;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    font-weight: 500;
    transition: ease-in .5s;
}

header.sticky ul li {
    color: #000;
    z-index: 1001;
}