{% extends "base.html" %}

{% block tittle %}Catalogo{% endblock %}


{% block content %}

<link rel="stylesheet" href="/static/css/catalog.css">


<div class="catalogo_muestra">
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam itaque voluptatibus animi culpa dolorem possimus harum quos accusamus architecto esse! </p>
    </div>
</div>


<div class="grid">
    {% for producto in productos.items %}
    <div class="grid_card" id="cosa{{loop.index}}">
        <div class="grid_card-image">
            <img loading="lazy" src="/static/images/catalogo/{{producto.id}}.png" class="foto" alt=""> <!--/static/images/catalogo/{{producto[0]}}.png     /static/images/catalogo/GRI-616.png   -->
            <script src="/static/js/imagen.js" type="text/javascript"></script> 
        </div>
        <div class="price">
            {%set list = (producto.Precio | string()).split('.') %}
            <p>{{list[0]}}.{{list[1]}}</p><p>$</p>
        </div>
        <div class="other">
            <p>
                <ion-icon name="add-circle-outline"></ion-icon>
            </p>
        </div>
        <div class="grid_card-foot">
            <p><strong>{{producto.id}}</strong></p> 
            <p>{{producto.Descripcion}}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
